{% load static %}

<style>
    .box {
        display: block;
        padding: 5px;
        text-align: justify;
        margin: 50px 0;
    }

    .round2 {
        border: 2px solid purple;
        border-radius: 8px;
    }
</style>

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Contact V12</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!--===============================================================================================-->
</head>

<body background="{% static 'images/bg-01.jpg' %}" style="text-align:center;">


    <div class="bg-contact100">
        <div class="container-contact100">
            <div class="wrap-contact100">
                <div  data-tilt>
					<img src="{% static 'imagess/myqr.svg' %}"  height="300px"  alt="IMG">
				</div> 
                <br><br><br><br><br>
                
                <div id="myInput" class="wrap-input100 validate-input box" style="display: block;text-align:center;">
                    <button class="btn btn-outline-secondary" style="font-size: larger;">{{short}}</button>
                </div>



                <div id="myInput" class="wrap-input100 validate-input box" style="display: block;text-align:center;">
                    <button class="btn btn-outline-secondary" data-clipboard-target="#myInput">Copy text</button>
                </div>


            </div>
        </div>



        <!--===============================================================================================-->
        <script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
        <!--===============================================================================================-->
        <script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
        <!--===============================================================================================-->
        <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
        <!--===============================================================================================-->
        <script src="{% static 'vendor/tilt/tilt.jquery.min.js' %}"></script>
        <script>
            $('.js-tilt').tilt({
                scale: 1.1
            })
        </script>
        <!--===============================================================================================-->
        <script src="{% static 'js/main.js' %}"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-23581568-13');
        </script>
        <script type="text/javascript">new ClipboardJS('.btn');</script>
</body>

</html>